@use "common" as *;

/* Remove padding on every custom HTML SimpliGov form field */
.static-html-wrapper,
.workflowContent .form-static-html {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
}

/* Support header and logo after removing extra padding */
.mbta-logo {
  margin-top: 15px !important;
}

#formHeaderDiv {
  margin: 0 !important;
}

.mbta-logo.thank-you-page {
  margin-bottom: 0 !important;
}

/* Remove SimpliGov default header padding */
h1,
h2,
h3,
h4,
h5 {
  padding-bottom: 0 !important;
}

/* Add zeroheight header spacing */
h1 {
  line-height: 3.1875rem !important;
  margin-top: 2.6875rem !important;
  margin-bottom: 0.9375rem !important;
}

@media (max-width: 799px) {
  h1 {
    line-height: 2.2313rem !important;
    margin-top: 1.8813rem !important;
    margin-bottom: 0.6563rem !important;
  }
}

h2 {
  line-height: 2.2313rem !important;
  margin-top: 1.8813rem !important;
  margin-bottom: 0.6563rem !important;
}

@media (max-width: 799px) {
  h2 {
    line-height: 1.8129rem !important;
    margin-top: 1.5285rem !important;
    margin-bottom: 0.5332rem !important;
  }
}

h3 {
  line-height: 1.6734rem !important;
  margin-top: 1.4109rem !important;
  margin-bottom: 0.4922rem !important;
}

@media (max-width: 799px) {
  h3 {
    line-height: 1.465rem !important;
    margin-top: 1.235rem !important;
    margin-bottom: 0.4308rem !important;
  }
}

h4 {
  line-height: 1.4344rem !important;
  margin-top: 1.2094rem !important;
  margin-bottom: 0.4219rem !important;
}

@media (max-width: 799px) {
  h4 {
    line-height: 1.2551rem !important;
    margin-top: 1.0582rem !important;
    margin-bottom: 0.3692rem !important;
  }
}

/* Increase space between list items for accessibility */
li {
  line-height: 1.5 !important;
}

/* Hide birthdate error field */
#form-element-wrapper_186 {
  visibility: hidden;
  height: 0;
  margin: -0.625rem 0;
}

/* Remove right border, set shadow and dimensions */
div#thank-you-text,
div#workflow-background-wrapper:not(.embed) {
  width: 900px !important;
  max-width: 100% !important;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%) !important;
  border-right: none !important;
}

/* Turn off title, header/footer, info, summary/attachments/communications sections */
.page-top,
.page-head,
.page-footer,
.infoSection,
.workflowRightTab {
  display: none !important;
}

/* Center application, set background color, set min-height to reduce scrolling, adjust padding */
#workflow-wrapper {
  background-color: $gray-background !important;
  padding: 50px 0 0 !important;
  min-height: 100px !important;
  justify-content: center !important;
}

/* Reduce space after Submit button */
#formPartialDiv {
  margin-bottom: 0 !important;
}

/* Remove bottom padding */
div.page-wrap {
  padding-bottom: 0 !important;
}

/* Center Thank You page, set page color and form max width */
body div.page-content {
  background-color: $gray-background !important;
  margin: 0 auto !important;
  max-width: 900px !important;
}

/* Set Thank You page dimensions */
div#thank-you-text {
  min-height: 200px;
  max-width: 880px !important;
  margin-top: 50px !important;
  padding: 10px;
}
