@use "common" as *;

/* Background color  */
body,
html {
  background-color: $gray-background !important;
}

/* Errors */
.error-alert-item {
  background-color: $form-error-message;
  border-left: 0.25rem solid $error-text;
  overflow: hidden;
  position: relative;
}

.error-alert-item__top {
  display: flex;
  padding-left: 3rem;
}

.error-alert-item__top-text-container {
  flex: 1 1 auto;
  padding: 1rem;
}

.error-alert-item__icon {
  align-content: center;
  left: 1.25rem;
  pointer-events: none;
  position: absolute;
  top: 1.2rem;
  height: 2rem;
  width: 2rem;
}

.error-alert-item__effect {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.375em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.275em;
  color: inherit;
}

/* Hide birthdate error field */
#form-element-wrapper_56 {
  visibility: hidden;
  height: 0;
  margin: -20px 0;
}

/* Photo grid h2 */
.h2-graphic {
  font-size: 1.75rem !important;
  line-height: 2.2313rem !important;
  margin-top: 1.8813rem !important;
  margin-bottom: 0.6563rem !important;
}

@media (max-width: 799px) {
  .h2-graphic {
    font-size: 1.4219rem !important;
    line-height: 1.8129rem !important;
    margin-top: 1.5285rem !important;
    margin-bottom: 0.5332rem !important;
  }
}

/* Add border to photo guide */
.picture-guide {
  border: 1px solid $gray-lightest !important;
}

/* Photo guide padding and width */
@media (max-width: 799px) {
  .picture-guide {
    padding: 0 19px 29px;
    max-width: 515px;
  }
}

@media (max-width: 629px) {
  .picture-guide {
    padding: 0 19px 29px;
    max-width: 337px;
  }
}

@media (min-width: 800px) {
  .picture-guide {
    padding: 0 24px 29px;
    max-width: 591px;
  }
}

/* Container for example pictures */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  gap: 21px;
}

@media (max-width: 799px) {
  .flex-container {
    gap: 19px;
  }
}

/* Container for individual pictures and list */
.outer-box {
  flex-basis: 183px;
  margin: 0;
}

@media (max-width: 799px) {
  .outer-box {
    flex-basis: 147px;
  }
}

/* Example pictures */
.example-picture {
  width: 183px;
  margin: 0;
  padding: 0;
}

@media (max-width: 799px) {
  .example-picture {
    width: auto;
  }
}

/* Example photos list styling */
.caption {
  list-style: none;
  margin-left: 0;
  padding: 11px 0 0;
}

.accepted {
  color: $brand-success;
}

.denied {
  color: $error-text;
}
