/*Generic CSS*/
.formFieldWrapper .radio-checkbox-label,
.form-element-wrapper .radio-checkbox-label {
    margin: 0px;
}


/* Background */
html,
body {
    background-color: #223B75!important;
}

/*#workflow-background-wrapper {
	border-radius: 4px!important;
}*/

.loadingPanel {
    top: 0px !important;
}

h3,
.h3 {
    border-color: #a9a9a9!important;
}

#divWorkflowContent {
    width: 80%;
}


/*
.radio-checkbox-label {
	color: red!important;
}
*/

/* below here is content of default demo template */

/* turn off title, header/footer, info, summary/attachments/communications sections */
/*.page-top, .page-footer, .infoSection, .workflowRightTab {
	display: none!important;
}*/


/* turn off title, header/footer, info, summary/attachments/communications sections */
.page-head,
.page-footer,
.infoSection,
.workflowRightTab {
    display: none!important;
}


/* center form, get rid of line on right border, add shadow */

/*#workflow-background-wrapper {
	float: none!important;
	margin: auto!important;
	border-right: none!important;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2)!important;
}*/


/* turn on the wizard button to toggle between wizard view and normal view */
.wizardNormalMode {
    display: inline-block!important;
    padding: 5px 20px!important;
    color: #fff!important;
    border: 0;
    border-radius: 4px!important;
    background: #3ba2fc!important;
    margin-top: 5px!important;
}


/* add background color and padding so that it's visible above/below form */
#workflow-wrapper {
    /* go Dodgers (used to be: #3489ba) */
    background-color: #223B75!important;
    padding: 50px 0px!important;
}

/* put space between bottom of form fields and top of submit button */
.submit-button-wrapper {
    padding-top: 50px!important;
}

/* default space below submit button is 100px, too much */
#formPartialDiv {
    margin-bottom: 50px!important;
}

/* make form wide enough to fit 3 fields on one line */
@media screen and (min-width: 1100px) and (max-width: 1340px) {
    #workflow-background-wrapper {
        min-width: 840px!important;
    }
}


/* set form width to 94%, override default @media query that sets width to 100% */
@media screen and (min-width: 700px) and (max-width: 1100px) {
    #workflow-background-wrapper {
        width: 94%!important;
    }
}


/* get rid of top/bottom padding, form takes up entire screen */
@media screen and (max-width: 700px) {
    #workflow-wrapper {
        padding: none!important;
    }
}

.workflowRightTab {
    /*   width: 37%;*/
    /*	width: 27%;*/
    width: 10%!important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

div#workflow-background-wrapper {
    /*    width: 54%;*/
    /*	width: 67%!important;*/
    /* width: 80%!important;
	max-width: 80%!important; */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (max-width: 1340px) and (min-width: 1100px) {}

#workflow-background-wrapper {
    min-width: 2px!important;
}

#workflow-wrapper:not(.embed):not(.registered-embed) {
    justify-content: center;
}


/* Hide error fields and values */
/* HomeZipError field */
#element108,
/* BirthdayError field */
#element180,
/* EnrollmentEligibilityError field */
#element183,
/* SchoolEligibilityError field */
#element184 {
    display: none;
    padding: 10px!important;
}

/* HomeZipError field */
#form-element-wrapper_108,
/* BirthdayError field */
#form-element-wrapper_180,
/* EnrollmentEligibilityError field */
#form-element-wrapper_183,
/* SchoolEligibilityError field */
#form-element-wrapper_184 {
    visibility: hidden;
    height: 0px;
    margin: -20px 0px;
}
/* END Hide error fields and values */

/* Hide section breadcrumb titles */
#section-breadcrumbs {
    visibility: hidden;
}

#formHeaderDiv {
    height: 0px;
    margin: -10px 0px;
}

/* Hide datepicker calendar */
.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
    display: none !important;
}

/* Hide print icon */
#print-preview {
    display: none !important;
}

/* Update column width */
@media(min-width:250px) {
    .container {
        max-width: 80%;
    }
}

@media(min-width:544px) {
    .container {
        max-width: 100%;
    }
}

@media(min-width:800px) {
    .container {
        max-width: 768px;
    }
}

@media(min-width:1088px) {
    .container {
        max-width: 960px;
    }
}

@media(min-width:1344px) {
    .container {
        max-width: 1200px;
    }
}


/* Zeroheight Style Section */

/* Links */
a {
    color: #165c96;
    text-decoration: underline;
}

a:focus,
a:hover {
    color: #0b2f4c;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

/* Other Content */
body,
html {
    font-size: 16px;
}

body {
    font-family: Inter UI, Helvetica Neue, Helvetica, Arial, sans-serif!important;
}

@media(max-width:799px) {
    body {
        font-size: 0.875rem!important;
    }
}

p {
    font-family: Inter UI, Helvetica Neue, Helvetica, Arial, sans-serif!important;
    font-size: inherit!important;
}

h1,
h2,
h3,
h4,
h5, 
.h3 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif!important;
    font-weight: 700!important;
}

.h3 {
    margin-top: 0px!important;
}

h1 {
    font-size: 2.5rem!important;
}

@media(max-width:799px) {
    h1 {
        font-size: 1.75rem!important;
    }
}

h2 {
    font-size: 1.75rem!important;
}

@media(max-width:799px) {
    h2 {
        font-size: 1.4219rem!important;
    }
}

h3,
.h3 {
    font-size: 1.3125rem!important;
}

@media(max-width:799px) {
    h3, 
    .h3 {
        font-size: 1.1487rem!important;
    }
}

h4 {
    font-size: 0.9844rem;
}

@media(max-width:799px) {
    h4 {
        font-size: 2rem!important;
    }
}

h5 {
    font-size: 1rem;
}

@media(max-width:799px) {
    h5 {
        font-size: 0.875rem!important;
    }
}

/* END Zeroheight style section */

/* Error style section */
.error-alert-item {
    background-color: #F2DEDE;
    border-left-width: .25rem;
    border-left-color: #B3000F;
    border-left-style: solid;
    overflow: hidden;
    position: relative
}

@media(max-width:799px) {
    .error-alert-item {
        border-left: 0;
        border-right: 0
    }
}

.error-alert-item__top {
    display: flex;
    padding-left: 3rem
}

.error-alert-item__top-text-container {
    flex: 1 1 auto;
    padding: 1rem
}

.error-alert-item__icon {
    align-content: center;
    left: 1.25rem;
    pointer-events: none;
    position: absolute;
    top: 1.2rem;
}

.error-alert-item__effect {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: .375em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.275em;
    color: inherit
} */

.error-alert-item__icon {
    height: 2rem;
    width: 2rem
}

/* Required text and regex error color */
.required-text,
.regexErrorLabel {
    color: #B3000F!important;
    font-style: normal;
}

/* END Error style section */

/* Button colors */
/* Submit-Next button */
.form-submit-button,
.form-section-next,
/* Upload button */
#divWorkflowContent .buttonPopup.blue
{
	background-color: #165C96!important;
	border-color: #165C96!important;
}

/* Back button */
.form-section-prev {
	background-color: #ffffff!important;
	color: #165C96!important;
}
/* END Button colors */

/* Button focus and hover */
/* Submit-Next button focus */
.form-submit-button:active:focus,
.form-submit-button:focus,
.form-section-next:active:focus,
.form-section-next:focus,
/* Upload button focus */
#divWorkflowContent .buttonPopup.blue:active:focus, 
#divWorkflowContent .buttonPopup.blue:focus {
    outline: thin dotted!important;
    outline: 5px auto -webkit-focus-ring-color!important;
    outline-offset: -2px!important;
    color: #fff!important;
    background-color: #0f416a!important;
    border-color: #0e3b61!important;
    text-decoration: none!important;
}

/* Submit-Next button hover */
.form-submit-button:hover,
.form-section-next:hover,
/* Upload button hover */
#divWorkflowContent .buttonPopup.blue:hover {
    color: #fff!important;
    background-color: #0f416a!important;
    border-color: #0e3b61!important;
    text-decoration: none!important;
}

/* Back button focus and hover */
.form-section-prev:focus {
    outline: thin dotted!important;
    outline: 5px auto -webkit-focus-ring-color!important;
    outline-offset: -2px!important;
    background-color: #cee0f4!important;
    color: #0b2f4c!important;
    border-color: #0e3b61!important;
    text-decoration: none!important;
}

.form-section-prev:active:focus,
.form-section-prev:active:hover  {
    background-color: #cee0f4!important;
    color: #0b2f4c!important;
    border-color: #061827!important;
}

.form-section-prev:hover {
    background-color: #cee0f4!important;
    color: #0b2f4c!important;
}

/* END Button focus and hover */

/* Color for asterisks */
.form-label-required span[role='presentation'], .form-label-required span[style="color: red;"] {
    color: #B3000F !important;
}
