@use "partials/index-applicant" as *;

/* Hide zip code, birthday, enrollment, and school error fields */
#form-element-wrapper_108,
#form-element-wrapper_180,
#form-element-wrapper_183,
#form-element-wrapper_184 {
  visibility: hidden;
  height: 0;
  margin: -20px 0;
}

/* Style form instructions required documents */
.h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1.3125rem !important;
  font-weight: 700 !important;
  margin-top: 0 !important;
}

@media (max-width: 799px) {
  .h3 {
    font-size: 1.1487rem !important;
  }
}

.form-submit-button {
  display: none;
}
