@use "common" as *;
@use "red-alert" as *;

/* Remove extra padding */
.page-content div#workflow-background-wrapper {
  padding: 0 !important;
  border: none !important;
}

/* Hide error fields and values */

/* HomeZipError field */
#element108,
/* BirthdayError field */
#element180,
/* EnrollmentEligibilityError field */
#element183,
/* SchoolEligibilityError field */
#element184 {
  display: none;
  padding: 10px !important;
}

/* HomeZipError field */
#form-element-wrapper_108,
/* BirthdayError field */
#form-element-wrapper_180,
/* EnrollmentEligibilityError field */
#form-element-wrapper_183,
/* SchoolEligibilityError field */
#form-element-wrapper_184 {
  visibility: hidden;
  height: 0;
  margin: -20px 0;
}

/* Style form instructions required documents */
.h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1.3125rem !important;
  font-weight: 700 !important;
  margin-top: 0 !important;
}

@media (max-width: 799px) {
  .h3 {
    font-size: 1.1487rem !important;
  }
}
