@use "common" as *;

/* Background */
html,
body {
  background-color: #223b75 !important;
}

/* Remove extra padding */
.page-content div#workflow-background-wrapper {
  padding: 0 !important;
  border: none !important;
}

/* Hide error fields and values */

/* HomeZipError field */
#element108,
/* BirthdayError field */
#element180,
/* EnrollmentEligibilityError field */
#element183,
/* SchoolEligibilityError field */
#element184 {
  display: none;
  padding: 10px !important;
}

/* HomeZipError field */
#form-element-wrapper_108,
/* BirthdayError field */
#form-element-wrapper_180,
/* EnrollmentEligibilityError field */
#form-element-wrapper_183,
/* SchoolEligibilityError field */
#form-element-wrapper_184 {
  visibility: hidden;
  height: 0;
  margin: -20px 0;
}

/* Style form instructions required documents */
.h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1.3125rem !important;
  font-weight: 700 !important;
  margin-top: 0 !important;
}

@media (max-width: 799px) {
  .h3 {
    font-size: 1.1487rem !important;
  }
}

/* Errors */
.error-alert-item {
  background-color: $form-error-message;
  border-left: 0.25rem solid $error-text;
  overflow: hidden;
  position: relative;
}

@media (max-width: 799px) {
  .error-alert-item {
    border-left: 0;
    border-right: 0;
  }
}

.error-alert-item__top {
  display: flex;
  padding-left: 3rem;
}

.error-alert-item__top-text-container {
  flex: 1 1 auto;
  padding: 1rem;
}

.error-alert-item__icon {
  align-content: center;
  height: 2rem;
  left: 1.25rem;
  pointer-events: none;
  position: absolute;
  top: 1.2rem;
  width: 2rem;
}

.error-alert-item__effect {
  font-size: 1.125rem;
  margin-bottom: 0.375em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.275em;
  color: inherit;
}
