// This partial is for admin styles that can be changed without affecting the applicant experience

body,
html {
  font-size: 16px;
}

/* Make exit workflow text on one line */
#exit-workflow {
  width: auto !important;
}

/* Update padding on exit workflow button */
.exit-workflow-text {
  padding: 5px !important;
}
