@use "colors" as *;

body,
html {
  font-size: 16px;
  background-color: $gray-background !important;
  min-width: 300px !important;
}

/* Links */
a {
  color: $brand-primary;
  text-decoration: underline;
}

a:focus,
a:hover {
  color: $brand-primary-darkest;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* Text */
p,
li {
  font-family: "Inter UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1rem !important;
}

@media (max-width: 799px) {
  p,
  li {
    font-size: 0.85rem !important;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 700 !important;
}

h1 {
  font-size: 2.5rem !important;
}

@media (max-width: 799px) {
  h1 {
    font-size: 1.75rem !important;
  }
}

h2 {
  font-size: 1.75rem !important;
}

@media (max-width: 799px) {
  h2 {
    font-size: 1.4219rem !important;
  }
}

/* SimpliGov header */
#formHeaderDiv {
  height: 0;
  margin: -10px 0;
}

/* Hide section breadcrumb titles */
#section-breadcrumbs {
  visibility: hidden !important;
}

/* Hide calendar */
.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
  display: none !important;
}

/* Hide print icon */
#print-preview {
  display: none !important;
}

/* Required text and regex error color */
.required-text,
.requiredLabelEmail,
.regexErrorLabel,
.datePickerFormatError {
  color: $error-text !important;
  font-style: normal;
}

/* Color for field required asterisks */
.form-label-required span[role="presentation"],
.form-label-required span[style="color: red;"] {
  color: $error-text !important;
}

/* Focus for all text fields */
input[type="text"]:focus {
  border: 2px solid $brand-primary !important;
}

/* Remove shadow on all text fields */
input[type="text"].textfield:focus {
  box-shadow: none !important;
}

/* Dropdown focus and shadow */
.select2-container--bootstrap.select2-container--open .select2-selection {
  border: 2px solid $brand-primary !important;
  box-shadow: none !important;
}

.select2-container--bootstrap .select2-selection:focus {
  border: 2px solid $brand-primary !important;
  box-shadow: none !important;
}

.select2-container--bootstrap .select2-dropdown {
  border: 2px solid $brand-primary !important;
  box-shadow: none !important;
}

/* Make upload light gray color darker */
.k-icon.k-i-check,
.k-file-group.k-icon,
.k-dropzone .k-upload-status,
.k-file-name {
  color: $gray !important;
}

/* Make upload light gray border darker */
.k-upload-files {
  border-color: $gray !important;
}

/* Make upload success message darker */
.k-file-success .k-file-validation-message {
  color: $brand-success !important;
}

/* Make upload error message darker */
.k-file-invalid .k-file-validation-message {
  color: $error-text !important;
}

/* Make upload "invalid files" error message darker */
.validation-text.fileUploadErrorLabel.truncateWithEllipsis {
  color: $error-text !important;
}

/* Modal error support for small screens */
.modal-dialog {
  min-width: 250px !important;
}

/* Reduce size of upload area on small screens */
@media (max-width: 400px) {
  .formFieldWrapper .k-upload,
  .form-element-wrapper .k-upload {
    width: auto !important;
  }
}

/* Reduce image size on small sceens */
img {
  max-width: 100% !important;
  height: auto !important;
}

/* Reduce width of every form field on small screens */
input,
.select2-container.select2-container--bootstrap {
  max-width: 100% !important;
}

/* Add spacing to example documents and Thank You page logo */
.example-document,
.mbta-logo.thank-you-page {
  margin-bottom: 20px !important;
}
